<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{listDoctors}"></title>
    <style>
        body {background-color: rgba(133, 191, 211, 0.07) }
        h2   {color:blue}
        h5   {color: #9b16ff
        }
        p    {color:green}
        b    {display: inline-block;}
        .xx0 {padding-top: 10px}
        .xxx {padding-left: 20px}
        .xx1 {padding-left: 50px}
        .xx2 {display: inline-block;}

    </style>

</head>
<body>
<a th:text="#{onMain}" th:href="@{/}" }></a>
<h2 th:text="#{listDoctors}" ></h2>
<button ><a th:text="#{listPatients}" th:href="@{/admin/patients}"}></a></button>

<div class="xx0">

    <!--   /*@thymesVar id="UserDTO" type="hospital.dto.SelectDTO"*/-->

    <form  action="/admin/patients" method="get" th:object="${UserDTO}" id="form" >

        <div class="xx2">
            <label for="isHideArchive" class="control-label col-sm-3" th:field="*{{hideArchive}}" th:text="#{hideArchive}"></label>
            <input type="checkbox" th:checked="*{hideArchive} ? 'checked'" class="form-control" id="isHideArchive" th:field="*{hideArchive}" th:value="${{UserDTO.hideArchive}}"><br/>
        </div>
        <div class="xx2">
            <label for="isHideCurrent" class="control-label col-sm-3" th:field="*{getHideCurrent}" th:text="#{hideCurrent}"></label>
            <input type="checkbox" th:checked="*{getHideCurrent} ? 'checked'" class="form-control" id="isHideCurrent" th:field="*{getHideCurrent}" th:value="${{UserDTO.getHideCurrent}}"><br/>
        </div>



        <div class="xx0"><b>
            <input type="submit" th:value="#{listRefresh}" name="submit" onclick="setDefoult()">
            <button type="submit" onclick=setEXEL() th:value="#{downloadExcel}"></button>

           <!-- <i  class="xxx" >Знайдено всього записів - <span
                    th:text='${TO_Padding.getTotalElements()}'>(totalElements)
              </span></i>-->

        </b></div>

        <table border="1" class="xx0">
            <thead>
            <tr>
                <th width="8%">#</th>
                <th width="8%" th:text="#{FIO}"></th>
                <th width="8%" th:text="#{dateOfBirth}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user, iter : ${UserDTO.getCallsPage()}">
                <td th:text="${iter.count} + ${UserDTO.getCallsPage().getPageable().getPageNumber()} * ${UserDTO.getCallsPage().getPageable().getPageSize()}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${#temporals.format(user.birthDate, 'dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>

      <!--  <ul class="pagination">
            <li
                    th:class="${TO_Padding.getCurrentIndex() == 1}? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/(page=${0}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}">First</a>
            </li>
            <li
                    th:class="${TO_Padding.getCurrentIndex() == 1}? 'page-item disabled': 'page-item' ">
                <a class="page-link" aria-label="Previous"
                   th:href="@{/(page=${TO_Padding.getCurrentIndex() - 1}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}"
                   title='Go to previous page'><span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span></a>
            </li>
            <li th:each="item : ${#numbers.sequence(TO_Padding.getBeginIndex(), TO_Padding.getEndIndex())}"
                th:class="${item == TO_Padding.getCurrentIndex() ? 'page-item active' :'page-item' }">
                <a class="page-link" th:href="@{/(page=${item}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}"> <span
                        th:text='${item}'>(currentIndex + item)</span>
                </a>
            </li>
            <li
                    th:class="${TO_Padding.getCurrentIndex() == TO_Padding.getTotalPageCount()}? 'page-item disabled': 'page-item'">
                <a class="page-link" aria-label="Next"
                   th:href="@{/(page=${TO_Padding.getCurrentIndex() + 1}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}" title='Go to next page'><span
                        aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
            </li>
            <li
                    th:class="${TO_Padding.getCurrentIndex() == TO_Padding.getTotalPageCount()}? 'page-item disabled':'page-item'">
                <a class="page-link" th:href="@{/(page=${TO_Padding.getTotalPageCount()}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}">Last</a>
            </li>
        </ul>-->



  </form>


</div>




<script type="text/javascript">

    function chekValues() {
        var num = document.getElementById("num").value;

        if(num === null || num.length === 0 ){
            return true;
        }

        if(num.length > 10){
            alert("Слиииишком длинный номер телефона. Не больше 10 цифр.");
            return false;
        }
        if(!num.match(/^\d+$/)) {
            alert('В поле "Номер телефона" должно стоять числовое значение(только цифры)!');
            return false;
        }
        return  true;
    }

    function setEXEL() {
        console.log("start setEXEL")
        var action = document.getElementById("form");
        action.setAttribute("action", "/download/calls.xlsx" )
        console.log("start setEXEL", document.getElementById("form") );

      //  return chekValues();
    }
    function setDefoult() {
        console.log("start setDefoult")
        var action = document.getElementById("form");
        console.log("start setDefoult", document.getElementById("form") );
        action.setAttribute("action", "/admin/doctors" )
        console.log(document.getElementById("form"))

        return chekValues();
    }
</script>
</body>
</html>

