# Created by .ignore support plugin (hsz.mobi)
/.idea/inspectionProfiles/
/.idea/sonarlint/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/stady_OnlineUA.iml
/.idea/vcs.xml
/.idea/workspace.xml
