<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title th:text="'Edit a HospitalList'"></title>

</head>
<body>
<div style="text-align: center;">
    <button type="button" class="btn btn-light"><a th:text="#{onMain}" th:href="@{/}" }></a></button>
    <button type="button" class="btn btn-light"><a href="/doctor/patients" th:text="#{listPatients}"></a></a></button>
    <button type="button" class="btn btn-light"><a href="/logout" th:text="#{logout}"></a></button>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top:45px">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{hospitalCard}"></h3>
                </div>
                <div class="panel-body">
                    <!--   /*@thymesVar id="hospitalList" type="hospital.domain.HospitalList"*/-->

                    <form th:action="@{/doctor/hospital-list/edit/{path}(path=${user_id})}" th:object="${hospitalList}"
                          method="POST">

                        <table class="table" border="0">
                            <tr style="display:none;">
                                <td></td>
                                <td></td>
                                <td><input type="hidden" th:field="*{hospitalListId}"/></td>
                            </tr>
                            <tr style="display:none;">
                                <td></td>
                                <td></td>
                                <td><input type="hidden" th:field="*{dateCreate}"/></td>
                            </tr>
                            <tr>
                                <td th:text="#{primaryDiagnosis}"></td>
                                <td>:</td>
                                <td><input type="text" th:field="*{primaryDiagnosis}"/></td>
                            </tr>
                            <tr style="display:none;">
                                <td></td>
                                <td></td>
                                <td><input type="hidden" th:field="*{finalDiagnosis}"/></td>
                            </tr>
                            <tr>
                                <td th:text="#{medicine}"></td>
                                <td>:</td>
                                <td><input type="text" th:field="*{medicine}"/></td>
                            </tr>
                            <tr>
                                <td th:text="#{operations}"></td>
                                <td>:</td>
                                <td><input type="text" th:field="*{operations}"/></td>
                            </tr>
                        </table>
                        <div>
                            <input type="submit" class="btn btn-success" th:value="#{save}" onclick="rowClicked()"/>
                            <button type="button" class="btn btn-light"><a th:text="#{cancel}"
                                                                           th:href="@{/doctor/patients}" }></a>
                            </button>
                        </div>
                    </form>
                    <div>
                        <button type="button" class="btn btn-light"><a
                                th:text="#{appointNurse}"
                                href="#" }>
                            <!--th:href="@{/doctor/nurses/{path}(path=${hospitalList.hospitalListId})}"-->
                        </a></button>
                        <button type="button" class="btn btn-light">
                            <a
                                    th:onclick="'javascript:rowClicked(\'' + ${hospitalList.hospitalListId} + '\');'"
                                    th:text="#{medicationLog}" }>
                            </a>
                        </button>
                        <button type="button" class="btn btn-light">
                            <a
                                    th:text="#{activityLog}"  href="#"
                             }>
                                <!-- th:href="@{/doctor/activityLog/{path}(path=${hospitalList.hospitalListId})}"-->
                            </a>
                        </button>

                        <button type="button" class="btn btn-light">
                            <a
                                    th:onclick="'javascript:rowClickedDischarge(\'' + ${user_id} + '\');'"
                                    th:text="#{discharge}"}>
                            </a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function rowClicked(value) {
            if (isEmpty(value)) {
                console.log("isEmpty " + value)
                location.href = "/doctor/hospital-list/edit/" + [[${user_id}]];
            }
            if (!isEmpty(value)) {
                console.log("not isEmpty " + value)
                location.href = "/doctor/medicationLog/" + value;
            }
        }
        function rowClickedDischarge(value) {
            if (isEmpty(value)) {
                console.log("isEmpty " + value)
                location.href = "/doctor/hospital-list/edit/" + [[${user_id}]];
            }
            if (!isEmpty(value)) {
                console.log("not isEmpty " + value)
                location.href = "/doctor/discharge/" + value;
            }
        }
        function isEmpty(value) {
            return (value === null  || value === undefined || value === 0 || value ==='' || value ==='null');
        }
    </script>
    <br/>
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>
</div>
<!--<script th:inline="javascript">
    function rowClicked() {
        location.href = "/doctor/hospital-list/edit/" + [[${user_id}]] ;
    }
</script>-->
</body>
</html>