<!DOCTYPE html>
<html th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title th:text="'Edit a HospitalList'"></title>

</head>
<body>
<div style="text-align: center;">
    <button type="button" class="btn btn-light"><a th:text="#{onMain}" th:href="@{/}" }></a></button>
    <button type="button" class="btn btn-light"><a href="/doctor/patients" th:text="#{listPatients}"></a></a></button>
    <button type="button" class="btn btn-light"><a href="/logout" th:text="#{logout}"></a></button>
</div>
<!--   /*@thymesVar id="myNurses" type="java.util.List<hospital.domain.Nurse>"*/-->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default" style="margin-top:45px">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{listOfNurse}"></h3>
            </div>
            <div class="panel-body">
                <div th:text="#{lisrNursesOfPapients}"></div>

                <table class="table" border="1">
                    <thead>
                    <tr>
                        <th width="8%">#</th>
                        <th width="8%" th:text="#{FIO}"></th>
                        <th width="8%" th:text="#{busi}"></th>
                        <th width="8%" th:text="#{actions}"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter : ${myNurses}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${item.username}"></td>
                        <td th:text="${item.countOfPatients}"></td>
                        <td>
                            <a th:href="@{/doctor/nurse/delete/{hospitalListId}/{nurseId}/{userId}(hospitalListId=${hospitalListId}, nurseId=${item.id}, userId=${user_id})}"
                            ><span th:text="#{deleteNurse}"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:text="#{lisrFreeNurses}"></div>
                <!--   /*@thymesVar id="SelectDTO" type="hospital.dto.SelectDTO"*/-->
                <table class="table" border="1">
                    <thead>
                    <tr>
                        <th width="8%">#</th>
                        <th width="8%" th:text="#{FIO}"></th>
                        <th width="8%" th:text="#{busi}"></th>
                        <th width="8%" th:text="#{actions}"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter : ${SelectDTO.getPage().getContent()}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${item.username}"></td>
                        <td th:text="${item.countOfPatients}"></td>
                        <td>
                            <a th:href="@{/doctor/nurse/add/{hospitalListId}/{nurseId}/{userId}(hospitalListId=${hospitalListId}, nurseId=${item.id}, userId=${user_id})}"
                               ><span th:text="#{appointNurse}"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${SelectDTO.getPage().totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/doctor/nurse/{path}/{user_id}(path=${hospitalListId},user_id=${user_id}, size=${SelectDTO.getPage().size}, page1=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==SelectDTO.getPage().number + 1} ? active"></a>
                </div>
                <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>

